<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Website Title Here</title>

	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
		
	<!-- CSS : implied media="all" -->
	<!-- http://yuilibrary.com/yui/docs/cssfonts/ -->
	<link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/3.4.1/build/cssfonts/cssfonts-min.css">
	
	<link href="css/site.css" rel="stylesheet" type="text/css" />
	
	<!-- Uncomment if you are specifically targeting less enabled mobile browsers
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->		
</head>

<body>
	<div id="main">
		<div id="sub-content-one">
		
		</div> <!-- eof sub-content-one-->
		
		<div id="main-content">
			
		</div> <!-- eof main-content-->
		
		<div id="sub-content-two">
		
		</div> <!-- eof sub-content-two-->
	</div> <!-- eof main-->
	
	<!-- fix for png on ie6, can be removed if not needed -->
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); </script>
	<![endif]-->		
</body>
</html>